@model IEnumerable<NewAnimalSearch.Models.Animal>

@{
    ViewBag.Title = "Állatok";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Új hozzáadása", "Create")
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>                
                @Html.ActionLink("Szervezet", "Index", new { sortOrder = ViewBag.OrgSortParm })
            </th>
            <th>
                @Html.ActionLink("Típus", "Index", new { sortOrder = ViewBag.TypeSortParm })
            </th>
            <th>
                @Html.ActionLink("Név", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>                
                @Html.ActionLink("Szervezetnél felvéve", "Index", new { sortOrder = ViewBag.RegDateSortParm })
            </th>
            <th>
                @Html.ActionLink("Kor", "Index", new { sortOrder = ViewBag.AgeSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyPics)
            </th>
            <th></th>
        </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Org.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisteredAtOrg)
                </td>
                <td>
                    @{string age = String.Empty;
                        if (item.AgeYear > 0)
                        {
                            age += item.AgeYear.ToString() + " év";
                        }
                        if (item.AgeMonth > 0)
                        {
                            if (item.AgeYear > 0)
                            {
                                age += " ";
                            }
                            age += item.AgeMonth.ToString() + " hónap";
                        }
                        @age
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.URL)
                </td>
                <td>
                    @foreach (var p in ViewBag.Photos)
                    {
                        if (p.Key == item.ProtegeId)

                        {<img src="@p.Value" alt="IMAGES" width="100" class="img-thumbnail" />}
                    }
                </td>

                <td>
                    @Html.ActionLink("Szerkesztés", "Edit", new { id = item.ProtegeId }) |
                    @Html.ActionLink("Részletek", "Details", new { animalId = item.ProtegeId }) |
                    @Html.ActionLink("Törlés", "Delete", new { id = item.ProtegeId })
                </td>
            </tr>
        }

</table>
