@{
    ViewBag.Title = "Kezdőlap";
}

<div class="jumbotron">
    <h1>Üdvözlünk az oldalon!</h1>
    <p class="lead">
        A regisztrált állatok száma: @ViewBag.AnimalsSum</br>
        A nálunk regisztrált szervezetek száma: @ViewBag.OrgSum
    </p>    
    <p class = "btn btn-default btn-lg">@Html.ActionLink(HttpUtility.HtmlDecode("Tudj meg többet! &#187;"), "About")</p>
</div>

<div class="row">
    @foreach (NewAnimalSearch.Models.Animal item in ViewBag.Featured)
    {
    <div class="col-md-4">
        <h2>@item.Name</h2>
        <p>
            @foreach (var p in ViewBag.Photos)
            {
                if (p.Key == item.ProtegeId)

                {<a href="@Url.Action("Details", "Animals", new { id = item.ProtegeId })"><img src="@p.Value" alt="IMAGES" height="150" class="img-rounded" /></a>}
            }
        </p>
        <p class="preview">@item.About</p>
        
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Details &#187;"), "Details", "Animals", new { id = item.ProtegeId }, new { @class = "btn btn-default" })</p>
    </div>
    }
</div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
